
* {
    font-family: 'Nunito', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

#camera--view {
    width: 400px;
    height: 40vh;
    border-radius: 15px;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
}

#fileInput {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#camera--sensor {
    display: none;
}
#camera--output {
    width: 400px;
    height: 40vh;
    border-radius: 15px;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 50%;
    object-fit: cover;
    margin: auto;
    transform: translateX(-50%);
}

#image_url {
    display: none;
}

.content {
    text-align: center;
    margin-top: 45vh;
}
.heading {
    color: #fe7f2d;
    line-height: 0;
    text-align: center;
    margin-top: 15vh;
}
.sub_heading {
    color: #b6b5b3;
    text-align: center;
}
#img {
    max-width: 600px;
    max-height: 40vh;
    margin: 50px 0;
    border-radius: 15px;
    display: block;
    align-items: center;
    margin: 20px auto;
}

#prediction {
    font-size: 10px;
    font-weight: 600;
    color: #b84e0d;
    background-color: #ffd2b6;
    display: inline;
    padding: 8px 20px;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form button {
    height: 36px;
    padding: 10px 20px;
    border: none;
    background: #233d4d;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}